asgiref==3.3.2
astroid==2.5.3
autopep8==1.5.6
backends==0.5.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2
django-allauth==0.44.0
django-cors-middleware==1.5.0
django-crontab==0.7.1
django-oauth-toolkit==1.5.0
django-rest-passwordreset==1.1.0
django-rest-swagger==2.2.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
docopt==0.6.2
drf-yasg==1.20.0
facebook-sdk==3.1.0
Faker==8.1.0
fdm==0.4.1
idna==2.10
inflection==0.5.1
isort==5.8.0
itypes==1.2.0
Jinja2==2.11.3
jwcrypto==0.8
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mpmath==1.2.1
numpy==1.20.2
oauthlib==3.1.0
openapi-codec==1.3.2
packaging==20.9
pep8==1.7.1
pipdeptree==2.0.0
pipreqs==0.4.10
plum-dispatch==0.2.5
psa==0.1.0
psycopg2==2.8.6
pycodestyle==2.7.0
pycparser==2.20
PyJWT==2.0.1
pylint==2.7.4
pylint-django==2.4.3
pylint-plugin-utils==0.6
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.4
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
schedule==1.1.0
scipy==1.6.2
simplejson==3.17.2
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.4.1
sympy==1.7.1
text-unidecode==1.3
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.4
validate-email==1.3
wrapt==1.12.1
yarg==0.1.9
